createdAt: "2018-09-04T02:36:00.140Z"
updatedAt: "2018-09-04T03:16:46.371Z"
type: "MARKDOWN_NOTE"
folder: "fdd1ac6a82f4aa8a5e53"
title: "Meeting Corpu "
content: '''
  # Meeting Corpu #
  
  Usulan fitur :
  Google Analytic web
  Log activity
  News (share, like)
  
  Gallery (view) 
  Events
  -Training Schedule (entry/upload)
  -News (entry)
  -e-Magazine (upload)
  
  
  # Next Meeting : Rabu, 12 September 2018, Siang
  
'''
tags: [
  "Work"
]
isStarred: false
isTrashed: false
